/* 
#first {
    
    color: blue;
    font-size: 80px;
}
.second{
    color: red;
    font-size: 70px;
} */
/* .first{
    color: red;
}
h1{
color: blue;

} */
html{
    color: red;
}
li{
   color: violet;}